body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232426;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

img{
    margin: 15px;
}

article{
    margin: 30px;
    background-color: #A6A6A6;
    border-radius: 5px;
    display: flex;
}

p{
    margin: 17px;
    text-align: justify;
}

h1{
    margin: 5px;
    color: #E6E6E6;
}

a{
    color: #E6E6E6;
    text-decoration: none;
    border-radius: 5px;
}

h2{
    margin: 30px;
}

nav{
    background-color: #131313;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    overflow: hidden;
}
nav:hover{
    transition: 0.3s;
    width: 170px;
}
    nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        
    }
    nav li{
        margin-left: 10px;
    }
    nav a{
        text-align: center;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        display: block;
    }
    nav a:hover{
        border-radius: 3px;
        background-color: #7B0000;
        color: #131313;
    }
    ul{
    list-style: none;
    }

.jogar{
    background-color: #7B0000;
    border-radius: 10px;
    margin-left: 44%;
    margin-right: 44%;
}